# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]

# Virtualenv
.venv/
venv/

# Django / SQLite
db.sqlite3
*.sqlite3
*.sqlite3-*
*.db
*.bak

# Logs
logs/
*.log

# Build / cache
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

